<div class="p-4 sm:p-6 md:p-8 min-h-screen bg-gradient-to-r from-blue-500 to-purple-700 text-white">
    <div class="container mx-auto">
        <div class="mb-8 text-center">
            <h1 class="text-3xl sm:text-4xl font-bold">UTPL Administrador</h1>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
            <div class="md:col-span-1 p-6 rounded-2xl shadow-lg bg-indigo-700 h-64 flex flex-col items-center justify-center text-center">
                <span class="text-6xl font-bold mb-2">{{usuariosSubject.value.length}}</span>
                <span class="text-xl">Usuarios Registrados</span>
            </div>

            <div class="md:col-span-2 p-6 rounded-2xl shadow-lg glass-effect h-74 flex flex-col justify-between">
                <h2 class="text-xl font-semibold mb-4">Intentos realizados por ejercicio</h2>
                 <div class="flex-grow flex items-center justify-center">
                    <!-- Contenedor con scroll más alto -->
                    <div class="flex-grow overflow-y-auto custom-scrollbar max-h-44">
                        <!-- Listado de usuarios -->
                        <div *ngFor="let user of usuariosSubject | async; let i = index"
                            class="flex items-center justify-between py-2 border-b border-white border-opacity-10 last:border-b-0">

                        <!-- Columna izquierda (imagen + nombre) -->
                        <div class="flex items-center space-x-4 mr-4">
                            <img 
                            [src]="user.picture?.trim() !== '' ? user.picture : defaultPicture"
                            alt="Foto de perfil"
                            class="w-12 h-12 rounded-full object-cover border"
                            />
                            <p class="text-white text-lg font-semibold">{{ user.displayName }}</p>
                        </div>

                        <!-- Columna derecha fija -->
                        <div class="flex gap-4">
                            
                            <!-- Columna interna izquierda (Gratitud) -->
                            <div class="w-48 bg-[#FFFFFFB8] rounded-lg py-2 px-4 text-center">
                            <p class="text-gray-800 font-semibold">Ejercicio de Gratitud</p>
                            <p class="text-[#1E06A5] text-xl font-bold">{{ countGratitude_tecnica2(user) }}</p>
                            </div>

                            <!-- Columna interna derecha (Expresiva) -->
                            <div class="w-48 bg-[#FFFFFFB8] rounded-lg py-2 px-4 text-center">
                            <p class="text-gray-800 font-semibold">Escritura Expresiva</p>
                            <br>
                            <p class="text-[#1E06A5] text-xl font-bold">{{ countExpressive_tecnica3(user) }}</p>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
            <div class="lg:col-span-3 grid grid-cols-1 gap-6">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                    <!-- progreso de técnicas por usuario -->
                    <div class="p-6 rounded-2xl shadow-lg glass-effect flex flex-col justify-between min-h-[16rem]">
                        <h2 class="text-xl font-semibold mb-4">Progreso por usuario de la técnica 1: estiramientos suaves</h2>

                        <!-- Contenedor con scroll -->
                        <div *ngIf="!panel" class="flex-grow overflow-y-auto custom-scrollbar h-[300px]">
                            <!-- Listado de usuarios -->
                            <div  *ngFor="let user of usuariosSubject | async; let i = index" class="flex items-center justify-between py-2 border-b border-white border-opacity-10 last:border-b-0" >
                                <!-- columna izquierda-->
                                <div class="flex items-center space-x-4 mr-2">
                                    <!-- Imagen -->
                                    <img 
                                        [src]="user.picture?.trim() !== '' ? user.picture : defaultPicture"
                                        alt="Foto de perfil" 
                                        class="w-12 h-12 rounded-full object-cover border"
                                    />
                                    <!-- Nombre -->
                                    <p class="text-white text-lg font-semibold">{{ user.displayName }}</p>
                                </div>


                                <!-- columna derecha-->
                                <div>
                                    <button (click)="visibilityPanel(i)" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-full shadow-md transition duration-300 ease-in-out">
                                    Ver detalle
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="panel" class="flex-grow overflow-y-auto custom-scrollbar max-h-50 p-2 pt-1 space-y-4 justify-start">
                            <!-- Fila con 3 filas internas (vertical stack) -->
                            <div class="flex flex-col space-y-4 bg-white bg-opacity-10 p-4 rounded-lg shadow-inner">

                                <!-- Fila 1: Barra de progreso -->
                                <div>
                                    <p class="text-white mb-2">Progreso de la técnica 1</p>
                                    <div class="w-full bg-gray-300 rounded-full h-4 overflow-hidden">
                                        <div class="bg-green-500 h-4 transition-all duration-700 ease-in-out"[style.width.%]="porcentaje"></div>
                                    </div>
                                    <p class="text-white text-sm mt-1">{{ porcentaje }}% completado</p>
                                </div>

                                <!-- Total completados -->
                                 <div>
                                    <p class="text-lg font-medium text-white">
                                        <span class="text-white">Total de ejercicios</span> → 
                                        <span class="text-yellow-300 font-bold">{{ complete }}</span>
                                    </p>
                                    </div>

                                    <!-- Total faltantes -->
                                    <div>
                                    <p class="text-lg font-medium text-white">
                                        <span class="text-white">Total de ejercicios faltantes</span> → 
                                        <span class="text-red-400 font-bold">{{ task }}</span>
                                    </p>
                                    </div>

                                </div>

                            <!-- Botón para regresar -->
                            <div class="mt-4">
                                <button (click)="visibilityPanelClose()"
                                class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-full shadow-md transition duration-300 ease-in-out">
                                Regresar
                                </button>
                            </div>
                         </div>

                    </div>


                    <div class="p-4 rounded-xl shadow-md glass-effect flex flex-col justify-between min-h-[16rem]">
                        <h2 class="text-lg font-semibold mb-2 text-white">Tiempo por ejercicio</h2>
                        <!-- Selector de técnica -->
                         <select
                            [(ngModel)]="selectedTechnique"
                            (change)="onTechniqueChange(selectedTechnique)"
                            class="mb-2 p-1 rounded bg-gray-700 text-white text-sm"
                        >
                            <option
                            *ngFor="let ruta of rutasConTitulos"
                            [value]="ruta.route"
                            [title]="ruta.title"
                            >
                            {{ ruta.title }}
                            </option>
                        </select>

                        <div class="flex-grow flex items-center justify-center overflow-y-auto custom-scrollbar">
                            <div class="w-[20px] h-[200px] md:w-[350px] md:h-[300px]">
                                <canvas baseChart
                                        [data]="pieChartData"
                                        [type]="pieChartType"
                                        [legend]="true"
                                        [options]="pieChartOptions"
                                        [plugins]="[]"
                                        style="width: 100%; height: 100%;">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>

                
                 <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                    <div class="md:col-span-3 p-6 rounded-2xl shadow-lg glass-effect flex flex-col justify-between min-h-[16rem]">
                        <h2 class="text-xl font-semibold mb-4">Comentarios</h2>
                                                                <!-- Selector de rutas -->
                                                        <select [(ngModel)]="selectedRoute">
                                                        <option *ngFor="let r of routes" [value]="r.route">{{ r.title }}</option>
                                                        </select>
                                        <p></p>
                                        <p></p>
                       <div class="flex-grow overflow-auto custom-scrollbar">
                        <!-- Contenedor con grid horizontal y 2 filas por columna -->
                        <div class="grid grid-flow-col auto-cols-max gap-6 max-h-[32rem] px-2">
                            
                            <!-- Cada comentario ocupa una celda -->
                            <ng-container *ngFor="let user of usuariosSubject | async">
                            <ng-container *ngIf="user.comments && (commentUser(user).length > 0)">
                                <div class="flex flex-col justify-between">
                                <div class="p-4 rounded bg-white bg-opacity-10 shadow-inner w-72">
                                    <!-- Imagen + nombre -->
                                    <div class="flex items-center space-x-4 mb-2">
                                    <img
                                        [src]="user.picture?.trim() !== '' ? user.picture : defaultPicture"
                                        alt="Foto de perfil"
                                        class="w-12 h-12 rounded-full object-cover border"
                                    />
                                    <p class="text-white text-lg font-semibold">{{ user.displayName }}</p>
                                    </div>
                                    <!-- Comentarios debajo -->
                                    <div class="overflow-auto custom-scrollbar max-h-32">
                                    <ng-container *ngFor="let com of commentUser(user)">
                                        <p class="text-white text-sm italic">{{ com }}</p>
                                        <hr class="border-white my-1" />
                                    </ng-container>
                                    </div>
                                </div>
                                </div>
                            </ng-container>
                            </ng-container>
                         </div>
                        <br>
                      </div>
                    </div>
                </div>
            </div>

            <div class="lg:col-span-1 p-6 rounded-2xl shadow-lg bg-white bg-opacity-10 flex flex-col justify-between min-h-[16rem]">
                <h2 class="text-xl font-semibold mb-4">Usuarios Activos</h2>
                <div class="flex-grow flex items-center justify-center">
                    <!-- Contenedor con scroll -->
                        <div  class="flex-grow overflow-y-auto custom-scrollbar h-[700px]">
                            <!-- Listado de usuarios -->
                            <div  *ngFor="let user of usuariosSubject | async; let i = index" class="flex items-center justify-between py-2 border-b border-white border-opacity-10 last:border-b-0" >
                                <!-- columna izquierda-->
                                <div class="flex items-center space-x-4 mr-2">
                                    <!-- Imagen con ícono de estado -->
                                    <div class="relative w-12 h-12">
                                        <img [src]="user.picture?.trim() !== '' ? user.picture : defaultPicture" alt="Foto de perfil"
                                           class="w-12 h-12 rounded-full object-cover border transition-all duration-300"
                                           [ngClass]="{ 'brightness-50': !user.estado }"/>
                                        
                                        <!-- Círculo verde en la esquina inferior izquierda si está activo -->
                                        <div *ngIf="user.estado" class="absolute bottom-0 left-0 w-3 h-3 bg-green-500 rounded-full border-2 border-white"></div>
                                    </div>

                                    <!-- Nombre del usuario -->
                                    <p class="text-white text-lg font-semibold transition-all duration-300" [ngClass]="{ 'brightness-50': !user.estado }">
                                        {{ user.displayName }}
                                    </p>
                                </div>
                            </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>



